/* Add custom styles to display the fruits */
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    }



#fruit-card{
    display: inline-block;
    width: 12rem;
    margin: 8px 8px 8px 8px;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(254, 254, 254);
    margin-top: 30px;
}